<%- layout('layouts/main.ejs') %>

<div class="jumbotron mt-4">
    <h1 class="display-4">Bienvenidos a mi Trivia</h1>

<hr class="my-4">
    <h4>En esta trivia podras realizar tus propias preguntas <br>
      <hr class="my-4">
      <h2>Registrate</h2>
<div class="row">
     <div class="col-md-4 mx-auto">
         <form action="/signup" method="POST">
                  <div class="form-group">
                      <button type="submit" class="btn btn-primary btn-block">
                          Ingresa
                      </button>
                      </div>
                      </form>
                      <hr class="my-4">
    <h2>Mi github </h2><br>
                      <div class="row">
                        <div class="col-md-4 mx-auto">
                  <div class="form-group">
                  <a href="https://github.com/Gabyianbordon" class="btn btn-primary btn-block">Mi Github</a>
                  </div>
                </div>
            </div>
                      </div>
                      </div>
  </div>
  </div>
